*{
    margin: 0px;
    padding:0px;
}
.home{
    
    width: 100%;
    height: 600vh;
    background-image: url(ca5fa97f-7696-414b-bc87-9b5205b27575.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}
.home .nav{
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
}
.home #logo{
    padding-right: 640px;
    float: right;
    color: burlywood;
    font-size: 30px;
    font-weight: 900;
    font-family: serif;
    font-style: italic;
  
}
.home .nav ul li{
    padding: 3px;
    display: inline-block;
    float: right;
    margin: 20px;
}
.home .nav a{
    text-decoration: none;
    color: burlywood;
    font-size: large;
    font-weight: bold;

}
.home .img1 {
    width: 100%;
    float: left;
    display: flex;   
}
img{
    border: 1px solid;
    box-shadow: 10px 10px 5px black;
    width: 20%;
    height: auto;
    margin-left: 5%;
    margin-top: 10px;

}
.home .parg{
   margin-left: 18%;
    padding-top: 210px;
}
.home .parg h2{
    color: white;
    text-align: center;
    font-size: 60px;
   

}
.home .parg p{
    color: white;
    text-align: center;
    margin-top: 10px;
    
    
}
.home .img1 #gbg{
    margin-top: 20px;
    border: 1px solid;
    border-radius: 20px;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
   box-shadow: 8px 8px 10px black;
}
.home .img1 .input-data{
    margin: 25px 0px 20px 26px;
    padding-top: 10px ;
}

.home button{
    border: 1px solid;
    border-radius: 20px;
    font-size: 30px;
    cursor: pointer;
    margin: 20px 0px 20px 26%;
    padding: 10px;
   box-shadow: 8px 8px 10px black;
}
.home .stores {
    font-size: 18px;
    font-weight: bold;
    float: right;
     margin-right: 28%;
     display: flex;
}
.home .stores a {
    
    text-decoration: none;
    color: white;
    margin-right: 40px;
}
.home .vd1{
    width: 100%;
    float: left;
  
}
.home video{
    border-block: 0px solid;
    box-shadow: 20px 20px 10px #191818;
    width: 50%;
    height: auto;
    margin:  10% 20% 50px 22%;

}
.home .img2{
    width: 100%;
    float: left;
    display: flex;
}
img{
    margin-top: 20px;
    border: 1px solid;
    border-radius: 20px;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
   box-shadow: 8px 8px 10px black;
}
.home .img2 .search #gbc{
    margin: 15% 100px 0 15%;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 8px 8px 10px black;
}
.home .page2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.home .part1 .section1{
    padding-top: 50px;
    margin: 20px 0;
    text-align: center;
}
.home .part1 .section1 h3{
    font-size: 45px;
    font-weight: bold;
    color: burlywood;
    padding-top: 30px ;
}
.home .part1 .section1 p{
    font-size: 16px;
    color: white;
    padding-top: 25px;
}
.home .part2 .section2{
    padding-top: 50px;
    margin: 20px 0;
    text-align: center;
}
.home .part2 .section2 h3{
    font-size: 45px;
    font-weight: bold;
    color: burlywood;
    padding-top: 30px;
}
.home .part2 .section2 p{
    font-size: 16px;
    color: white;
    padding-top: 25px;
}
.home .part1 {
    display:flex;
   justify-content: space-around;
}
.home .part2 {
    display:flex;
    justify-content: space-around;
}
.home .part1 .section1 img{
    border-radius: 5px;
    width: 250px;
    display: block;
    margin: auto;
   
 }
.home .part2 .section2 img{
   border-radius: 5px;
    width: 250px;
    display: block; 
    margin: auto;
}

